 <section class="block block--dark block__skewed-left block-showcase">
      <header class="block__header">
        <h2>User - friendly Control Panel</h2>
      </header>
      <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
          <source
            type="image/webp"
            srcset="image/ipad.webp 1x, image/ipad@2x.webp"
          />
          <source
            type="image/png"
            srcset="image/ipad.png 1x, image/ipad@2x.png"
          />
          <img src="image/ipad.png" alt="" />
        </picture>
        <ul class="list">
          <li>
            <div class="media">
      <div class="media__image">
         </svg><svg class="icon icon--primary ">
          <use xlink:href="image/sprite.svg#snap"></use>
        </svg>
           </div>
      <div class="media__body">
        <h3 class="media__title">Easy start and manage update</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt porro maxime non modi optio dolor dolorem amet libero sint nihil!</p>
      </div>
    </div>
          </li>
          <li>
            <div class="media">
      <div class="media__image">
         </svg><svg class="icon icon--primary ">
          <use xlink:href="image/sprite.svg#growth"></use>
        </svg>
           </div>
      <div class="media__body">
        <h3 class="media__title">Easy start and manage update</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt porro maxime non modi optio dolor dolorem amet libero sint nihil!</p>
      </div>
    </div>
          </li>
          <li>
            <div class="media">
      <div class="media__image">
         </svg><svg class="icon icon--primary ">
          <use xlink:href="image/sprite.svg#wordpress"></use>
        </svg>
           </div>
      <div class="media__body">
        <h3 class="media__title">Easy start and manage update</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt porro maxime non modi optio dolor dolorem amet libero sint nihil!</p>
      </div>
    </div>
          </li>
        </ul>
      </div>
    </section>